.filters-items .filter-all {
  background-color: var(--accent-color);
  color: var(--main-bg-color);

  transition-property: background-color, color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--bezier-animation);
}

.filters-items .filter-all:first-child:hover,
.filters-items .filter-all:first-child:focus {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.section-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-items:not(:last-child) {
  margin-right: 8px;
}
