.modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  display: flex;
  justify-content: flex-end;

  padding: 40px 40px;
  width: 528px;
  height: 581px;
  background-color: var(--background-color);

  transition-property: transform;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--bezier-animation);
}

.modal-btn-thumb {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  color: #000000;
}

.modal-icon-close {
  fill: currentColor;

  transition-property: color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--bezier-animation);
}

.modal-thumb:hover,
.modal-thumb:focus {
  color: var(--accent-color);
}
